<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../../../css/storealarm.css" />
    <title>Ohgoodfood</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <img src="../../../img/store_alarm_active.png" alt="알람" class="icon">
            </div>
        </header>
        <main>
            <div class="alarm-container" id="alarm-container">
                <div class="alarm-item today-alarm">
                    <div class="alarm-header">
                        <div class="alarm-date">오늘</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>
                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>

                <div class="alarm-item">
                    <div class="alarm-header">
                        <div class="alarm-date">2025.06.10</div>
                        <img src="../../../img/store_delete.png" alt="삭제 아이콘" class="delete-icon">
                    </div>
                    <div class="alarm-content">
                        <span class="alarm-status">확정 대기</span>
                        <span class="alarm-desc">| 2025.06.11 군만두님의 오굿백 2개 예약</span>
                    </div>
                </div>

            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="menu-container">
                    <div class="menu-item active">
                        <img src="../../../img/store_home_active.png" data-name="home" alt="홈" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/store_review.png" data-name="review" alt="리뷰" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/store_order.png" data-name="order" alt="주문" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/store_mypage.png" data-name="mypage" alt="마이페이지" class="menu-icon">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script>
</script>

</html>