<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=440, initial-scale=1.0">
    <title>미확정 주문내역</title>
    <link rel="stylesheet" href="../../../css/confirmedorder.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <img src="../../../img/ohgoodfood_logo.png" alt="Logo Image">
                <div class="icon-container">
                    <img src="../../../img/alarm_active.png" alt="알람" class="icon">
                    <img src="../../../img/logout.png" alt="로그아웃" class="icon">
                </div>
            </div>
        </header>
        <main>
            <div class="order-page-container">
                <div class="order-header">
                    <div class="order-title">
                        <span class="shop-name">러프도우</span>&nbsp;&nbsp;
                        <span class="order-desc">| 주문내역을 확인하세요</span>
                    </div>
                    <div class="order-status-dropdown">
                        <button class="order-status-btn">미확정 주문 <img src="../../../img/arrow.png"
                                class="dropdown-arrow"></button>
                        <ul class="order-status-list">
                            <li class="active">미확정 주문</li>
                            <li>확정 주문</li>
                            <li>취소한 주문</li>
                        </ul>
                    </div>
                </div>
                <div class="order-section-title">
                    <span class="section-title">미확정 주문내역</span>&nbsp;
                    <span class="section-desc">| 주문을 확정해 주세요</span>
                </div>
                <div class="order-list-area">
                    <div class="order-card">
                        <div class="order-card-header">
                            <span class="order-card-title">오굿백 2개 예약</span>
                            <div class="order-card-button">
                                <button class="order-card-btn" data-status="today">오늘 픽업</button>
                                
                            </div>
                            <div class="order-group">
                                <label>
                                    <input type="checkbox" class="order-checkbox" style="display:none;">
                                    <img src="../../../img/noncheck.png" class="checkbox-img" alt="체크박스">
                                    
                                </label>
                            </div>
                            
                            <span class="order-card-date">2025.06.11</span>
                        </div>
                        <hr class="order-card-divider">
                        <div class="order-card-body">
                            <img src="../../../img/bread.png" alt="오굿백" class="order-card-img">
                            <div class="order-card-info">
                                <div class="order-card-info-person"><b>예약자 :</b> 오목킹</div>
                                <div class="order-card-info-time"><b>픽업 시간 :</b> 18:30 ~ 19:30</div>
                                <div class="order-card-info-ctime"><b>결제 금액 :</b> 6900₩</div>
                                <div class="order-card-btns">
                                    <button class="order-btn-pickup">픽업코드 : 010523</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-card">
                        <div class="order-card-header">
                            <span class="order-card-title">오굿백 2개 예약</span>
                            <div class="order-card-button">
                                <button class="order-card-btn" data-status="complete">픽업 완료</button>
                                
                            </div>
                            <div class="order-group">
                                <label>
                                    <input type="checkbox" class="order-checkbox" style="display:none;">
                                    <img src="../../../img/noncheck.png" class="checkbox-img" alt="체크박스">
                                    
                                </label>
                            </div>
                            <span class="order-card-date">2025.06.11</span>
                        </div>
                        <hr class="order-card-divider">
                        <div class="order-card-body">
                            <img src="../../../img/bread.png" alt="오굿백" class="order-card-img">
                            <div class="order-card-info">
                                <div class="order-card-info-person"><b>예약자 :</b> 오목킹</div>
                                <div class="order-card-info-time"><b>픽업 시간 :</b> 18:30 ~ 19:30</div>
                                <div class="order-card-info-ctime"><b>결제 금액 :</b> 6900₩</div>
                                <div class="order-card-btns">
                                    <button class="order-btn-pickup">픽업코드 : 0000120</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-card">
                        <div class="order-card-header">
                            <span class="order-card-title">오굿백 2개 예약</span>
                            <div class="order-card-button">
                                <button class="order-card-btn" data-status="complete">픽업 완료</button>
                                
                            </div>
                            <div class="order-group">
                                <label>
                                    <input type="checkbox" class="order-checkbox" style="display:none;">
                                    <img src="../../../img/noncheck.png" class="checkbox-img" alt="체크박스">
                                    
                                </label>
                            </div>
                            <span class="order-card-date">2025.06.11</span>
                        </div>
                        <hr class="order-card-divider">
                        <div class="order-card-body">
                            <img src="../../../img/bread.png" alt="오굿백" class="order-card-img">
                            <div class="order-card-info">
                                <div class="order-card-info-person"><b>예약자 :</b> 오목킹</div>
                                <div class="order-card-info-time"><b>픽업 시간 :</b> 18:30 ~ 19:30</div>
                                <div class="order-card-info-ctime"><b>결제 금액 :</b> 6900₩</div>
                                <div class="order-card-btns">
                                    <button class="order-btn-pickup">픽업코드 : 000726</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-card">
                        <div class="order-card-header">
                            <span class="order-card-title">오굿백 2개 예약</span>
                            <div class="order-card-button">
                                <button class="order-card-btn" data-status="complete">픽업 완료</button>
                                
                            </div>
                            <div class="order-group">
                                <label>
                                    <input type="checkbox" class="order-checkbox" style="display:none;">
                                    <img src="../../../img/noncheck.png" class="checkbox-img" alt="체크박스">
                                    
                                </label>
                            </div>
                            <span class="order-card-date">2025.06.11</span>
                        </div>
                        <hr class="order-card-divider">
                        <div class="order-card-body">
                            <img src="../../../img/bread.png" alt="오굿백" class="order-card-img">
                            <div class="order-card-info">
                                <div class="order-card-info-person"><b>예약자 :</b> 오목킹</div>
                                <div class="order-card-info-time"><b>픽업 시간 :</b> 18:30 ~ 19:30</div>
                                <div class="order-card-info-ctime"><b>결제 금액 :</b> 6900₩</div>
                                <div class="order-card-btns">
                                    <button class="order-btn-pickup">픽업코드 : pochako</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="menu-container">
                    <div class="menu-item">
                        <img src="../../../img/home.png" data-name="home" alt="홈" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/review.png" data-name="review" alt="리뷰" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/order.png" data-name="order" alt="주문" class="menu-icon">
                    </div>
                    <div class="menu-item">
                        <img src="../../../img/mypage.png" data-name="mypage" alt="마이페이지" class="menu-icon">
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        // 하단 메뉴 active 처리
        const menuItems = document.querySelectorAll('.menu-item');
        menuItems.forEach(item => {
            item.addEventListener('click', function () {
                menuItems.forEach(i => {
                    i.classList.remove('active');
                    const img = i.querySelector('img');
                    img.src = `../../../img/${img.dataset.name}.png`;
                });
                this.classList.add('active');
                const img = this.querySelector('img');
                img.src = `../../../img/${img.dataset.name}_active.png`;
            });
        });

        // 드롭다운 메뉴
        const statusBtn = document.querySelector('.order-status-btn');
        const statusList = document.querySelector('.order-status-list');
        const statusText = document.querySelector('.section-title');
        const statusSubText = document.querySelector('.section-desc')
        if (statusBtn) {
            statusBtn.addEventListener('click', function (e) {
                e.stopPropagation();
                statusList.classList.toggle('show');
            });
            document.body.addEventListener('click', function () {
                statusList.classList.remove('show');
            });
            statusList.querySelectorAll('li').forEach(li => {
                li.addEventListener('click', function (e) {
                    statusList.querySelectorAll('li').forEach(i => i.classList.remove('active'));
                    this.classList.add('active');
                    if (this.textContent === '미확정 주문') {
                        statusText.textContent = '미확정 주문내역';
                        statusSubText.textContent = '| 주문을 확정해 주세요';
                    } else if (this.textContent === '확정 주문') {
                        statusText.textContent = '확정 주문내역';
                        statusSubText.textContent = '| 픽업 확정 표시를 꼭 해주세요';
                    } else if (this.textContent === '취소한 주문') {
                        statusText.textContent = '취소한 주문내역';
                        statusSubText.textContent = '| 취소한 주문기록';
                    }
                    statusBtn.innerHTML = `${this.textContent} <img src="../../../img/arrow.png" class="dropdown-arrow" alt="아래화살표">`;
                    statusList.classList.remove('show');
                    e.stopPropagation();
                });
            });
        }
        document.querySelectorAll('.order-checkbox').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const img = this.nextElementSibling;
            const label = this.parentElement;
            if (this.checked) {
                img.src = '../../../img/realnoncheck.png';    
                label.style.fontWeight = "normal";   
            } else {
                img.src = '../../../img/noncheck.png';
                label.style.fontWeight = "normal"; 
            }
                });
            });
            /*
        document.querySelectorAll('.order-card-btn').forEach(function (button) {
            if(button.innerText === '픽업 완료') {
                document.querySelectorAll('.order-btn-pickup').forEach(function(pick) {
                    pick.dataset.status = 'line';
                });
            }

        });
        
        jquery로 다 바꿔야함
        */
    </script>
</body>

</html>