<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/storesignup.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="header-container">
                <img src="../../../img/store_ohgoodfood_logo.png" alt="Logo Image">
                <div class="icon-container">
                    <img src="../../../img/store_login.png" alt="로그인" class="icon">
                </div>
            </div>
        </header>
        <main>
            <div class="signup-container">
                <div class="signup-title">
                    <div class="title"> 회원가입 </div>
                </div>
                <div class="signup-form">
                    <p>id</p>
                    <div class="idGroup">
                        <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
                        <button id="checkIdButton" class="check-button">중복확인</button>
                    </div>
                    <p>password</p>
                    <div class="inputGroup">
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인하세요">
                    </div>
                    <p>이름</p>
                    <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
                    <p>전화번호</p>
                    <input type="text" id="phone" name="phone" placeholder="전화번호를 입력하세요">
                    <p>가게이름</p>
                    <p style="font-size:13px; margin-top:-10px;">(체인점일 경우 , 지점명까지 입력)</p>
                    <input type="text" id="storeName" name="storeName" placeholder="가게이름을 입력하세요">
                    <p>가게주소</p>
                    <p style="font-size:13px; margin-top:-10px;">(가게 주소를 정확하게 작성해주세요!)</p>
                    <div class="inputGroup">
                        <input type="text" id="storeAddress" name="storeAddress" placeholder="가게주소를 입력하세요">
                        <input type="text" id="storeAddressDetail" name="storeAddressDetail" placeholder="세부주소를 입력하세요">
                    </div>
                    <p>가게 이미지</p>
                    <p style="font-size:13px; margin-top:-10px;">(1~5개 등록 가능)</p>
                    <div class="input-box">
                        <input type="file" id="storeImage" class="file-input" name="storeImage" accept="image/*"
                            multiple style="font-size:15px">
                    </div>
                    <p>사업자 등록 번호</p>
                    <p style="font-size:13px; margin-top:-10px;">(사장님인지 확인하기 위해 필요합니다.)</p>
                    <input type="text" id="businessNumber" name="businessNumber" placeholder="사업자 등록 번호를 입력하세요">
                    <p>가게 카테고리</p>
                    <div class="input-box">
                        <div class="category-group">
                            <label>
                                <input type="checkbox" class="category-checkbox" style="display:none;">
                                <img src="../../../img/store_checkbox.png" class="checkbox-img" alt="체크박스">
                                빵 & 디저트
                            </label>
                            <label>
                                <input type="checkbox" class="category-checkbox" style="display:none;">
                                <img src="../../../img/store_checkbox.png" class="checkbox-img" alt="체크박스">
                                샐러드
                            </label>
                            <label>
                                <input type="checkbox" class="category-checkbox" style="display:none;">
                                <img src="../../../img/store_checkbox.png" class="checkbox-img" alt="체크박스">
                                과일
                            </label>
                            <label>
                                <input type="checkbox" class="category-checkbox" style="display:none;">
                                <img src="../../../img/store_checkbox.png" class="checkbox-img" alt="체크박스">
                                그외
                            </label>
                        </div>
                    </div>
                    <p>가게 대표 메뉴</p>
                    <p style="font-size:13px; margin-top:-10px;">(가게를 대표할 만한 것들로 작성해 주세요)</p>
                    <input type="text" id="representativeMenu" name="representativeMenu"
                        placeholder="ex) 소금빵 | 앙버터바게트 | 에그타르트">
                    <p>영업시간</p>
                    <div class="business-hours-group">
                        <input type="time" id="businessHoursStart" name="businessHoursStart" required>
                        <span class="time-divider">~</span>
                        <input type="time" id="businessHoursEnd" name="businessHoursEnd" required>
                    </div>
                    <div class="signup-buttons">
                        <p> * 승인은 최대 3일 걸려요</p>
                        <p> * 승인 받은 후에 판매를 시작할 수 있어요</p>
                        <button type="submit" class="submit-button">회원가입</button>
                    </div>

                </div>

        </main>

    </div>
</body>
<script>
    document.querySelectorAll('.category-checkbox').forEach(function (checkbox) {
    checkbox.addEventListener('change', function () {
        const img = this.nextElementSibling;
        const label = this.parentElement;
        if (this.checked) {
            img.src = '../../../img/store_checkbox_active.png';    
            label.style.fontWeight = "bold";   
        } else {
            img.src = '../../../img/store_checkbox.png';
            label.style.fontWeight = "normal"; 
        }
    });
});
</script>

</html>