<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper의 이름은 Mapper 인터페이스와 맞춰준다. -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper의 위치를 정확히 맞춰야 한다. -->
<mapper namespace="kr.co.ohgoodfood.dao.TestMapper">
    <!--
    Test용 Mapper 객체
        - 화면을 뿌리는데는 사용하지 않지만, test시 필요한 mapper를 따로 분리
        - 화면을 뿌리는데 사용하는 mapper랑..구분이 쉽도록 하기 위해 분리
    -->

    <!-- insertBookmark mapper -->
    <insert id="insertBookmark" parameterType="kr.co.ohgoodfood.dto.Bookmark">
        <!--selectKey로 auto increment 값을 가져온다.-->
        <selectKey resultType="int" keyProperty="bookmark_no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Bookmark(user_id, store_id)
        VALUES (#{user_id}, #{store_id});
    </insert>

    <!-- selectBookmark mapper -->
    <select id="selectOneBookmark" resultType="kr.co.ohgoodfood.dto.Bookmark">
        SELECT * FROM Bookmark b
        WHERE b.bookmark_no = #{bookmark_no};
    </select>

    <!-- [test 용] alarm selectOneAlarm -->
    <select id="selectOneAlarm" resultType="kr.co.ohgoodfood.dto.Alarm">
        SELECT * FROM Alarm
        WHERE alarm_no = #{alarm_no};
    </select>

    <insert id="insertOrder" parameterType="kr.co.ohgoodfood.dto.Orders">
        <!-- selectKey로 auto increment 값을 가져온다. -->
        <selectKey resultType="int" keyProperty="order_no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Orders(user_id, store_id, quantity, ordered_at, picked_at, order_status)
        VALUES (#{user_id}, #{store_id}, #{quantity}, #{ordered_at}, #{picked_at}, #{order_status});
    </insert>

    <!-- [test 용] Order selectOneOrder -->
    <select id="selectOneOrder" resultType="kr.co.ohgoodfood.dto.Orders">
        SELECT * FROM Orders o
        WHERE o.order_no = #{order_no}
        AND o.user_id = #{user_id};
    </select>

    <!-- [test 용] Order deleteOrder -->
    <delete id="deleteOrder" parameterType="kr.co.ohgoodfood.dto.Orders">
        DELETE FROM Orders
        WHERE order_no = #{order_no}
    </delete>

    <!-- [test 용] Bookmark deleteBookmark -->
    <delete id="deleteBookmark" parameterType="kr.co.ohgoodfood.dto.Bookmark">
        DELETE FROM Bookmark
        WHERE bookmark_no = #{bookmark_no}
    </delete>

</mapper>