# 기능별 브랜치는 각 기능 팀 + 팀장이 리뷰
# /store/* @minsss0726 @window101 @parkeunhyo 
# /users/* @minsss0726 @gaaaani @sunJ0120 

# dev 브랜치는 팀 전체 리뷰
# /dev/* @minsss0726 @window101 @parkeunhyo @gaaaani @sunJ0120 

