<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../css/userBookmark.css">
</head>
<body>
<div id="wrapper">
  <header>
    <div class="header-container">
      <img src="../../../img/user_ohgoodfood_logo.png" alt="Logo Image">
      <div class="icon-container">
        <img src="../../../img/user_alarm_active.png" alt="알람" class="icon">
        <img src="../../../img/user_bookmark.png" alt="즐겨찾기" class="icon">
        <img src="../../../img/user_logout.png" alt="로그아웃" class="icon">
      </div>
    </div>
  </header>
  <main>
    <!-- topWrapper로 한 번더 감싸서 스크롤 적용 -->
    <div class="topWrapper">
      <div class="productWrapper">
        <section class="productList">
          <!-- 카드 1 -->
          <article class="productCard">
            <!-- 이미지 + 오버레이 라벨 -->
            <div class="cardImage">
              <img src="../../../img/user_store3.jpg" alt="상품 이미지" class="storeImage"/>
              <div class="cardLabel">
                <div class="productNameWrapper">
                  <div class="productName">버터 베이커리 망원점</div>
                  <div class="badge">
                    <span class="statusText">내일</span>
                    <span class="timeText">(09:00 ~ 21:00)</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- 텍스트 정보 -->
            <div class="cardInfo">
              <div class="productTexts">
                <p class="productDesc">카테고리: 베이커리</p>
                <p class="productDesc">메뉴: 앙버터, 크루아상, 바게트</p>
                <p class="pickupTime">
                  픽업 시간 |
                  <strong>
                    <span class="todayPickupText">내일</span>
                    <span class="pickupStartText">09:00</span>
                    ~
                    <span class="pickupEndText">21:00</span>
                  </strong>
                </p>
              </div>
              <div class="priceBox">
                <del class="originalPrice">5,500 ₩</del>
                <span class="salePrice">2,650 ₩</span>
              </div>
            </div>
          </article>

        </section>
      </div>
    </div>

  </main>

  <footer>
    <div class="footer-container">
      <div class="menu-container">
        <div class="menu-item">
          <img src="../../../img/user_home.png" data-name="home" alt="홈" class="menu-icon">
        </div>
        <div class="menu-item">
          <img src="../../../img/user_review.png" data-name="review" alt="리뷰" class="menu-icon">
        </div>
        <div class="menu-item">
          <img src="../../../img/user_order.png" data-name="order" alt="주문" class="menu-icon">
        </div>
        <div class="menu-item">
          <img src="../../../img/user_mypage.png" data-name="mypage" alt="마이페이지" class="menu-icon">
        </div>
      </div>
    </div>
  </footer>

</div>
</body>
<script>
  const menuItems = document.querySelectorAll('.menu-item');
  menuItems.forEach(item => {
    item.addEventListener('click', function() {
      menuItems.forEach(i => {
        i.classList.remove('active');
        const img = i.querySelector('img');
        // 기본 이미지로 복원
        img.src = `../../../img/${img.dataset.name}.png`;
      });
      this.classList.add('active');
      const img = this.querySelector('img');
      // active 이미지로 변경
      img.src = `../../../img/${img.dataset.name}_active.png`;
    });
  });
</script>
</html>