.updateDiv {
    position: absolute;
    left: 1400px;
    top: 60px;
}
.updateButton {
    width: 200px;
    height: 75px;
    border: 1px solid #000000;
}
.searchTable {
    position: absolute;
    left: 74px;
    top: 170px;
    align-items: center;
    text-align: center;
    align-content: center;
}
tr > th:nth-child(1), tr > td:nth-child(1) {
    width: 150px;
    height: 77px;
}
tr > th:nth-child(2), tr > td:nth-child(2) {
    width: 200px;
    height: 77px;
}
tr > th:nth-child(3), tr > td:nth-child(3) {
    width: 200px;
    height: 77px;
}
tr > th:nth-child(4), tr > td:nth-child(4) {
    width: 600px;
    height: 77px;
}
tr > th:nth-child(5), tr > td:nth-child(5) {
    width: 250px;
    height: 77px;
}
tr > th:nth-child(6), tr > td:nth-child(6) {
    width: 150px;
    height: 77px;
}
.page {
    width: 1493px;
    height: 47px;
    position: absolute;
    top: 880px;
}