.menuName {
    font-size: 25px;
    position: absolute;
    left: 74px;
    top: 15px;
}
.usersFilter {
    position: absolute;
    left:74px;
    top: 60px;
    width: 126px;
    height: 46px;
    background-image: url(../img/adminSearchBox.png);
}
.selectBox {
    appearance: none;
    position: absolute;
    left: 10px;
    width: 116px;
    height: 46px;
}
.filterValue {
    position: absolute;
    left: 230px;
    top: 60px;
    width: 400px;
    height: 46px;
    background-image: url(../img/adminSearchFilter.png);
    display: flex;
}
.searchBox {
    position: absolute;
    left: 10px;
    width: 340px;
    height: 46px;
}
.magnifying {
    position: absolute;
    left: 350px;
    width: 50px;
    height: 46px;
}
.magnifyingButton {
    width: 50px;
    height: 46px;
}