.loginBox {
    display: flex;
    width: 271px;
    height: 200px;
    position: relative;
}
.inputBox {
    width: 230px;
    height: 40px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
.idBox {
    position: absolute;
    top: 20px;
    left: 20px;
}
.pwdBox {
    position: absolute;
    top: 80px;
    left: 20px;
}
.loginButton {
    position: absolute;
    width: 230px;
    height: 30px;
    top: 140px;
    left: 20px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
