.searchTable {
    position: absolute;
    left: 74px;
    top: 170px;
    text-align: center;
}
tr > th:nth-child(1), tr > td:nth-child(1) {
    width: 200px;
    height: 77px;
}
tr > th:nth-child(2), tr > td:nth-child(2) {
    width: 200px;
    height: 77px;
}
tr > th:nth-child(3), tr > td:nth-child(3) {
    width: 200px;
    height: 77px;
}
tr > th:nth-child(4), tr > td:nth-child(4) {
    width: 300px;
    height: 77px;
}
tr > th:nth-child(5), tr > td:nth-child(5) {
    width: 300px;
    height: 77px;
}
tr > th:nth-child(6), tr > td:nth-child(6) {
    width: 200px;
    height: 77px;
}
