.userInfo {
    width: 700px;
    height: 630px;
    position: relative;
    left: 74px;
    top: 130px;
    font-size: 25px;
}
.userInfoBox {
    width: 500px;
    height: 35px;
    font-size: 25px;
    position: relative;
}
.userId{
    top: 25px;
}
.userName{
    top: 88px;
}
.userNickname{
    top: 141px;
}
.userPhoneNumber{
    top: 194px;
}
.userJoindate{
    top: 247px;
}
.userStatus{
    top: 300px;
}
.userLoaction{
    top: 353px;
}
.userInputBox{
    width: 330px;
    height: 35px;
    font-size: 25px;
    position: relative;
    border: 1px solid #000000;
}
.updateButtonDiv {
    position: absolute;
    left: 74px;
    top: 800px;
}
#updateButton {
    width: 283px;
    height: 75px;
    border: 1px solid #000000;
}