@font-face {
    font-family: 'nanumesquareneo';
    src: url('font/NanumSquareNeo-aLt.ttf');
}

@font-face {
    font-family: 'nanumesquareneo_b';
    src: url('font/NanumSquareNeo-bRg.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 전체 화면 높이에 맞게 중앙 정렬 */
    margin: 0;
}

#wrapper {
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center;     /* 수평 중앙 정렬 */
    text-align: center;      /* 버튼과 이미지의 중앙 정렬을 위해 텍스트 정렬 */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* 이미지와 버튼 사이에 여백을 추가 */
}

#Button {
    width: 383px;
    height: 40px;
    background-color: #99A99B;
    border-radius: 10px;
    border: none;
    color: #F5F3EA;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer; /* 마우스 오버 시 클릭할 수 있음을 보여줌 */
    transition: background-color 0.3s ease; /* 버튼 색상 변경 애니메이션 */
    font-family: 'nanumesquareneo_b';
}

#Button:hover {
    background-color: #7e8d82; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}
