@font-face {
    font-family: 'nanumesquareneo';
    src: url('font/NanumSquareNeo-aLt.ttf');
}
@font-face {
    font-family: 'nanumesquareneo_b';
    src: url('font/NANUMSQUARENEO-BRG.ttf');
}

body{
    font-family: 'nanumesquareneo';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#wrapper{
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;
    
}