body{
    font-family: 'nanumesquareneo';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#wrapper{
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;   
    display: flex;
    flex-direction: column;
}