@font-face {
    font-family: 'nanumesquareneo';
    src: url('font/NanumSquareNeo-aLt.ttf');
}
@font-face {
    font-family: 'nanumesquareneo_b';
    src: url('font/NanumSquareNeo-bRg.ttf');
}
body{
    font-family: 'nanumesquareneo';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#wrapper{
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;   
    display: flex;
    flex-direction: column;
}
header{
    height: 30px;
    padding: 20px 15px 20px 15px;;
    border-bottom: solid 1px #717171;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-container{
    display: flex;
    gap:10px;
    align-items: center;
}
.icon{
    width: 20px;
}
main{
    display: flex;
}
#main-image {
    margin-top: 13px;
}
.menu-container{
    display: flex;
}
.main-body-container {
    left: 0;
    height: 600px; 
    background-color: #99A99B;
    z-index: 0;
    margin-top: -40px;  
    border-radius: 20px 20px 0 0;
}
.main-middle-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;   
    gap: 16px;                
    align-items: center;
}
.main-middle-container #id {
    margin-top: 60px;
}
.main-middle-container input {
    width: 335px;
    font-family: "nanumesquareneo";
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
}
.login-button {
    width: 358px;
    height: 50px;
    padding: 12px;
    background: #f5f3ea;
    color : #99A99B;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "nanumesquareneo";
    cursor: pointer;
}
.sub-links {
    margin-top: 10px;
    width: 346px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #F5F3EA;
    font-family: "nanumesquareneo_b";
}
.sub-links a {
    text-decoration: none;
    color: #F5F3EA;
}
.sub-links a:hover {
    text-decoration: underline;
    color: #000;
}

.snsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}
.main-line {
    height: 1px;
    background-color: #F5F3EA;
    width: 105px;  
    margin: 0;
}
.snsTitle {
    display: inline-block;
    white-space: nowrap;
    font-family: 'nanumesquareneo_b';
    color: #F5F3EA;
    font-size: 18px;
    letter-spacing: 2px;
}

.sns-login-box{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.kakao{
    display: flex;
    align-items: center;
    background-color: #F9E000;
    width: 346px;
    height: 38px;
    padding: 5px;
    font-family: 'nanumesquareneo_b';
}

.naver{
    display: flex;
    align-items: center;
    background-color: #02C55B;
    width: 346px;
    height: 38px;
    padding: 5px;
    color: white;
    font-family: 'nanumesquareneo_b';
}
.kakaoIcon{
    margin-left:10px;
    margin-right: 85px;
}
.naverIcon{
    margin-left:10px;
    margin-right: 85px;
}
.main-line2 {
    margin-top: 15px;
    height: 1px;
    background-color: #F5F3EA;
    width: 80%;
}
.modal {
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 325px;
    height: 140px;
}
.modal-content h2 {
    margin-bottom: 15px;
    font-size: 20px;
}
.modal-content p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
    line-height: 25px;
}
.modal-content button {
    width: 330px;
    padding: 10px 20px;
    background-color: #99A99B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
}