@font-face {
    font-family: 'nanumesquareneo';
    src: url('font/NanumSquareNeo-aLt.ttf');
}
@font-face {
    font-family: 'nanumesquareneo_b';
    src: url('font/NanumSquareNeo-bRg.ttf');
}

body{
    font-family: 'nanumesquareneo';
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#wrapper{
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;   
    display: flex;
    flex-direction: column;
    position: relative;
}
main{
    display: flex;
    flex-direction: column;
    padding:20px;
    
}
.main-header{
    margin-top:20px;
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}

.alarm-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #99A99B;
    height: 715px;
    box-sizing: border-box;
    padding: 15px;
    max-height: 715px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;    
}

.alarm-item {
    background: transparent;
    border-radius: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    border: 1px solid #8B6D5C;
    width: 357px;
    height: 82px;
    padding:15px;
    box-sizing: border-box;
}
/*오늘 알람인 경우*/
.alarm-item.new-alarm {
    background: #fff;
    font-family: 'nanumesquareneo_b';
}
.alarm-item.new-alarm .alarm-status{
    color: #D8A8AB;
}
.alarm-header{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.delete-icon{
    cursor: pointer;
    width: 13px;
    height: 14px;
}
.alarm-date{
    font-size: 15px;
}
.alarm-content {
    font-size: 13px;
}
.no-alarm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

