.screen {
  width: 440px;
  height: 956px;
  background-color: #f5f3ea;
}

.screen .overlap-group {
  position: relative;
  height: 965px;
}

.screen .rectangle {
  position: absolute;
  width: 440px;
  height: 956px;
  top: 0;
  left: 0;
}

.screen .div {
  position: absolute;
  width: 440px;
  height: 790px;
  top: 175px;
  left: 0;
  background-color: #99a99b;
  border-radius: 48px 48px 0px 0px;
}

.screen .line {
  width: 440px;
  top: 269px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .text-wrapper {
  position: absolute;
  top: 206px;
  left: 83px;
  font-family: "NanumSquare Neo-ExtraBold", Helvetica;
  font-weight: 800;
  color: #f5f3ea;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.25px;
  line-height: 42px;
  white-space: nowrap;
}

.screen .rectangle-2 {
  position: absolute;
  width: 394px;
  height: 132px;
  top: 418px;
  left: 23px;
  background-color: var(--white);
  border-radius: 24px;
  border: 1px solid;
  border-color: #f5f3ea;
}

.screen .text-wrapper-2 {
  position: absolute;
  width: 148px;
  top: 444px;
  left: 44px;
  -webkit-text-stroke: 1px #f5f3ea;
  font-family: "NanumSquare-Regular", Helvetica;
  font-weight: 400;
  color: #7b7b7b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 267px;
  top: 477px;
  left: 24px;
  -webkit-text-stroke: 1px #f5f3ea;
  font-family: "NanumSquare Neo-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.screen .img {
  width: 440px;
  top: 85px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .vector {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 465px;
  left: 349px;
}

.screen .rectangle-3 {
  position: absolute;
  width: 394px;
  height: 132px;
  top: 590px;
  left: 23px;
  background-color: var(--white);
  border-radius: 24px;
  border: 1px solid;
  border-color: #f5f3ea;
}

.screen .text-wrapper-4 {
  position: absolute;
  width: 148px;
  top: 617px;
  left: 44px;
  -webkit-text-stroke: 1px #f5f3ea;
  font-family: "NanumSquare-Regular", Helvetica;
  font-weight: 400;
  color: #7b7b7b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.screen .text-wrapper-5 {
  position: absolute;
  width: 265px;
  height: 27px;
  top: 642px;
  left: 44px;
  -webkit-text-stroke: 1px #f5f3ea;
  font-family: "NanumSquare Neo-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 20px;
}

.screen .vector-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 637px;
  left: 349px;
}

.screen .vector-3 {
  position: absolute;
  width: 15px;
  height: 27px;
  top: 24px;
  left: 392px;
}

.screen .vector-4 {
  position: absolute;
  width: 15px;
  height: 13px;
  top: 31px;
  left: 399px;
}

.screen .line-2 {
  width: 344px;
  top: 515px;
  left: 45px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-3 {
  width: 344px;
  top: 686px;
  left: 45px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .removebg-preview {
  position: absolute;
  width: 156px;
  height: 31px;
  top: 28px;
  left: 15px;
  object-fit: cover;
}
