.details-container{
    background-color: #F5F3EA;
    max-height: 242px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.details-container form{
    gap:10px;
}
.saveBtn{
    background-color: #8B6D5C;
    border: none;
    height: 30px;
    width: 45px;
    border-radius: 10px;
    color:#F5F3EA;
}
.cancleBtn{
    background-color: #F5F3EA;
    border: 1px solid #8B6D5C;
    height: 30px;
    width: 45px;
    border-radius: 10px;
    color:#8B6D5C;
    margin-left:5px;
}
.business-hours-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.time-divider {
    font-size: 18px;
    color: #888;
}
.details-container input[type="time"]{
    width:100%;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    font-size: 11px;
    background: #fff;
    width: 85px;
    height: 20px;
    font-family: 'nanumesquareneo_b';
}

.details-container input[type="text"][readonly],
.details-container input[type="text"] {
    width: 210px;
    height: 35px;
    margin-bottom: 0px;
    font-family: 'nanumesquareneo_b';
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: default;
}
.details-container input[type="text"]{
    width: 240px;
}

.timer-icon{
    width: 20px;
    margin-left: 10px;
    margin-right: -22px;
    cursor: pointer;
}
/*카테고리*/
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #5C5C5C;
    width: 220px;
    height: 20px;
}
.category-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size:11px;
}
.checkbox-img{
    width: 10px;
}
#bag-container textarea {
    height: 75px !important;
    width: 240px !important;
    resize: vertical;
    box-sizing: border-box;
    white-space: pre-wrap; 
    word-break: break-all; 
    font-family: 'nanumesquareneo_b';
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
/*알람 모달*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  min-width: 220px;
  text-align: center;
  position: relative;
}
.close-modal {
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}