@font-face {
     font-family: 'nanumesquareneo';
     src: url('font/NanumSquareNeo-aLt.ttf');
}

@font-face {
     font-family: 'nanumesquareneo_b';
     src: url('font/NanumSquareNeo-bRg.ttf');
}
main {
    padding: 0 20px;
    max-width: 440px;
    margin: 0 0;
    min-height: 0;
    box-sizing: border-box;
}

.topWrapper {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 720px;

    /* Firefox, IE & Edge용 스크롤 숨기기 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.productWrapper {
    position: relative;
    padding: 16px 12px;
    background-color: #F5F3EA;
    height: 100%;
}

.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.productCard {
    background-color: #F5F3EA;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    max-width: 355px;
    padding: 12px 16px;

    border-color: #8B6D5C;
    border-width: 1px;
    border-style: solid;
}

.productCard.unbookmarked {
    opacity: 0.5; /* 50% 오퍼시티 */
    transition: opacity 0.3s;   /* 페이드 효과 */
}

.cardImage {
    position: relative;
    width: 100%;
    height: 93px;
}

.imgWrapper{
    width: 100px;
    height: 100px;
    margin-right: 12px;
}

.storeImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;

    border-radius: 10px;
}

.bookmarkImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productBookmarkWrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.bookmarkWrapper{
    width: 28px;
    height: 28px;
    overflow: hidden;
}

.productNameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 12px;
}

.productTextWrapper {
    width: 100%;
    margin-top: auto;
    margin-bottom: 12px;

    min-width: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productName {
    font-size: 14pt;
    font-family: 'nanumesquareneo_b';
    color: black;
}

.todayPickupText{
    font-family: 'nanumesquareneo_b';
}

/* 배지 (내일/오늘 텍스트) */
.badge {
    background-color: #A68C6F;
    color: #FFFFFF;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 10px;
}

/* soldout 상태일 때 덮어씌워서 컬러를 변경하기 위함이다. */
.badge.soldout {
    background-color: #D8A8AB;
    color: #F5F3EA;
}

.statusText{
    font-size: 11pt;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 상품 설명 텍스트 */
.productTexts{
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 10pt;
    font-weight: normal;
    color: black;
}

.productDesc {
    display: block;
    width: 100%;

    margin: 0;
    line-height: 1.4;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 픽업 시간 */
.pickupTime {
    margin: 8px 0 0;
}

.pickupTime span {
    margin: 0 2px;
}

.priceBox {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
}

.originalPrice {
    font-size: 10px;
    color: #8B6D5C;
    font-weight: normal;
}

.salePrice {
    font-size: 15px;
    color: #5A4632;
    font-family: 'nanumesquareneo_b';
}

.productCard {
    position: relative;
    cursor: pointer;
}

/* 결과 없음 모달 관련 요소들 */
.emptyModal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.modalWrapper {
    position: relative;
    display: inline-block;
}

.modalBox {
    background: white;
    border-radius: 10pt;
    padding: 50px 50px;
    box-sizing: border-box;
    text-align: center;
}

.modalContent {
    color: #99A99B;
}

.emptyModalEmoji {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(calc(-50% + 70px), -70%);
}