@font-face {
  font-family: 'nanumesquareneo';
  src: url('font/NanumSquareNeo-aLt.ttf');
}
@font-face {
  font-family: 'nanumesquareneo_b';
  src: url('font/NANUMSQUARENEO-BRG.ttf');
}

/* 리스트 전체 설정 */
.reviewList {
  position: relative;
  width: 440px;
  background-color: #f5f3ea;
  font-family: 'nanumesquareneo', sans-serif;
  margin-top: 30px;
}

/* 전체 박스 */
.reviewList .overlap .reviewBox {
  position: relative;
  width: 386px;
  height: 705px;
  background-color: #f5f3ea;
  border: 1px solid #99a99b;
  margin: 0 auto;
}

/* 상단 배경 박스 */
.reviewList .reviewBox {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 357px;
  height: 195px;
  border: 2px solid #E5DFD5;
  border-radius: 10px;
}

/* 리뷰어 이름 */
.reviewList .reviewerName {
  position: absolute;
  top: 24px;
  left: 167px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  white-space: nowrap;
}

/* 리뷰 날짜 */
.reviewList .reviewedDate {
  position: absolute;
  top: 24px;
  left: 290px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  text-align: right;
  white-space: nowrap;
}

/* 리뷰 이미지 */
.reviewList .reviewImage {
  position: absolute;
  top: 29px;
  left: 27px;
  width: 124px;
  height: 85px;
  object-fit: cover;
  border-radius: 10px;
}

/* 구분선 */
.reviewList .line {
  position: absolute;
  top: 40px;
  left: 167px;
  width: 190px;
  height: 1px;
  border: 2px solid #E5DFD5;
  background-color: #717171;
}

/* 리뷰 본문 */
.reviewList .reviewContent {
  position: absolute;
  top: 46px;
  left: 167px;
  width: 192px;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #000;
}

/* 가게 박스 */
.reviewList .storeBox {
  position: absolute;
  top: 130px;
  left: 21px;
  width: 340px;
  height: 61px;
  background-color: #f5f3ea;
  border: 1px solid #8B6D5C;
  border-radius: 10px;
}

/* 가게 이름 */
.reviewList .storeName {
  position: absolute;
  top: 140px;
  left: 123px;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #535353;
}

/* 가게 이미지 */
.reviewList .storeImage {
  position: absolute;
  top: 140px;
  left: 27px;
  width: 77px;
  height: 44px;
  object-fit: cover;
  border-radius: 10px;
}

/* 메뉴 텍스트 */
.reviewList .storeMenu {
  position: absolute;
  top: 159px;
  left: 123px;
  font-weight: 400;
  font-size: 10px;
  color: #000;
  white-space: nowrap;
}

/* 가격 전체 컨테이너 */
.reviewList .price {
  position: absolute;
  top: 145px;
  left: 265px;
  width: 85px;
}

/* 원가(취소선) */
.reviewList .originPrice {
  display: block;
  font-weight: 700;
  font-size: 8px;
  color: #8B6D5C;
  text-decoration: line-through;
  text-align: right;
  margin-bottom: 4px;
}

/* 할인가 */
.reviewList .salePrice {
  display: block;
  font-weight: 800;
  font-size: 13px;
  color: #535353;
  text-align: right;
}