body{
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;
}
.content{
    width: 440px;
    height: 851px;
    position: relative;
    display: flex;
    justify-content: center;
}
.content > img{
    position: absolute;
    top: 214px;
}
.failReasonDiv{
    width: 390px;
    height: 107px;
    position: absolute;
    top: 614px;
    border-radius: 10px;
    background-color: #E5DFD5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.failReasonDiv > div{
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.realFailReason{
    color: #8B6D5C;
    font-weight: bold;
}
.footer{
    width: 440px;
    height: 105px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toMainButton{ 
    width: 357px;
    height: 45px;
    background-color: #8B6D5C;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
}
