@font-face {
     font-family: 'nanumesquareneo';
     src: url('font/NanumSquareNeo-aLt.ttf');
}

@font-face {
     font-family: 'nanumesquareneo_b';
     src: url('font/NanumSquareNeo-bRg.ttf');
}
body{
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 440px;
    height: 956px;
    background-color: #F5F3EA;
}
.header{
    width: 440px;
    height: 80px;
    border-bottom: 1px solid #000000;
    position: relative;
}
.header > img{
    width: 31px;
    height: 31px;
    position: absolute;
    left: 24px;
    top: 23px;
}
.header > p{
    width: 135px;
    height: 28px;
    position: absolute;
    left: 152px;
    top: 26px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.content{
    width: 440px;
    height: 771px;
}
.productDiv{
    width: 440px;
    height: 458px;
    position: relative;
}
.productWrapper{
    width: 383px;
    height: 412px;
    border-radius: 10px;
    border: 1px solid #99A99B;
    position: absolute;
    left: 28px;
    top: 34px;
}
.productInfo{
    width: 381px;
    height: 175px;
    position: relative;
}
#storeImg{
    width: 180px;
    height: 130px;
    position: absolute;
    left: 20px;
    top: 22px;
    border-radius: 10px;
}
.productInfoSub{
    width: 165px;
    height: 130px;
    position: absolute;
    left: 210px;
    top: 22px;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    gap: 10px; /* 아이템 간 세로 간격 */
}
#storeName{
    font-size: 20px;
    font-weight: bold;
}
#productPriceEtc{
    font-size: 15px;
    font-weight: bold;
}
.pickupTimeDiv{
    width: 170px;
    height: 23px;
    position: relative;
    line-height: 23px;
}
#pickupTimeText{
    font-size: 15px;
    position: absolute;
}
#pickupTime{
    font-size: 13px;
    color: #8B6D5C;
    position: absolute;
    left: 65px; 
    font-weight: bold;
}
.confirmedTimeDiv{
    width: 170px;
    height: 23px;
    position: relative;
    line-height: 23px;
}
#confirmedTimeText{
    font-size: 15px;
    position: absolute;
}
#confirmedTime{
    font-size: 13px;
    color: #8B6D5C;
    position: absolute;
    left: 65px;
    font-weight: bold;
}
.productAmount{
    width: 381px;
    height: 85px;
}
.productAmountText{
    font-size: 16px;
    font-weight: bold;
}
.productAmountSub{
    height: 61px;
    display: flex;
    justify-content: space-evenly; /* 요소 간과 양 끝 포함 전체 동일 간격 */
    align-items: center;
}
.productAmountSub > img{
    width: 20px;
    height: 20px;
}
.productAmountSub > p{
    font-size: 15px;
    font-weight: bold;
}
.userPointDiv{
    width: 381px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.userPointDiv > p{
    font-size: 16px;
    font-weight: bold;
}
.userPointDiv > input{
    width: 118px;
    height: 30px;
    border: 1px solid #99A99B;
    border-radius: 10px;
    text-align: right;
}
.productPrice{
    width: 381px;
    height: 90px;
}
.productPriceText{
    font-size: 16px;
    font-weight: bold;
}
.productPriceSub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}
.productTotalPrice{
    width: 326px;
    height: 45px;
    border: 1px solid #99A99B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #8B6D5C;
}
.cautionDiv{
    width: 440px;
    height: 313px;
    overflow-y: auto;
    overflow-x: hidden;
}
.cautionDiv::-webkit-scrollbar {
    display: none;              
}
.cautionWrapper{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cautionTitle{
    width: 440px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.cautionTitle > p{
    position: relative;
    left: 29px;
    font-weight: bold;
}
.caution{
    width: 440px;
    height: 35px;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
}
.custom-checkbox input[type="checkbox"] {
    display: none; /* 기본 체크박스를 숨깁니다 */
    align-items: center;
}
/* 커스텀 체크박스 스타일 */
.custom-checkbox .checkmark {
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 29px;
    top: 7px;
    transition: background-color 0.3s, border-color 0.3s;   
}
/* 체크박스가 선택되었을 때의 상태 */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #F5F3EA; /* 체크된 상태의 배경 색 */
    border-color: #99A99B;    /* 체크된 상태의 테두리 색 */
}
/* 체크 표시 모양 추가 */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #99A99B;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.caution > p{
    position: absolute;
    left: 58px;
}
.caution > img{
    position: absolute;
    left: 400px;
}
.cautionImg{
    width: 440px;
    height: auto;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    display: none;
}
.img2{
    display: none;
}
.img3{
    display: none;
}
.footer{
    width: 440px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payButton{
    width: 383px;
    height: 40px;
    background-color: #99A99B;
    border-radius: 10px;
    border: none;
    color: #F5F3EA;
    font-size: 22px;
    font-weight: bold;
}
