footer{
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid 1px #717171;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: #F5F3EA;
    box-sizing: border-box;
    width: 100%;
}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 74px;
    background-color: #99A99B;
    border-radius: 10px;
    
}
.menuContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    gap:25px;
}
.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 68px;
    border-radius: 8px;
    cursor: pointer;
}
.menuItem.active {
    background-color: #F5F3EA; 
}