@font-face {
     font-family: 'nanumesquareneo';
     src: url('font/NanumSquareNeo-aLt.ttf');
}

@font-face {
     font-family: 'nanumesquareneo_b';
     src: url('font/NanumSquareNeo-bRg.ttf');
}
main {
    padding: 0 20px;
    max-width: 440px;
    margin: 0 0;
    min-height: 0;
    box-sizing: border-box;
}

.searchBar {
    padding: 12px 0px;
}

.searchWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #99a99b;
    background-color: #F5F3EA;
    padding: 0 12px;
    height: 48px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'nanumesquareneo_b';
    background-color: transparent;
    color: #7C7C7C;
}

.searchInput::placeholder {
    color: #999;
}

.searchBtn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
}

.searchBtn img {
    width: 18px;
    height: 18px;
}

.filterButtons {
    display: flex;
    justify-content: space-between; /* 간격을 균일하게 정렬 */
    padding: 1px 0px;
    flex-wrap: wrap;
}

.filterBtn, .categoryFilterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'nanumesquareneo_b';

    /* 상하 패딩 고정 10px / 좌우 패딩 유동적 */
    padding-block: 10px;
    padding-inline: clamp(4px, calc((100vw - 375px) * (5 / 65) + 5px), 10px);

    background-color: #F5F3EA;
    color: #8b6d5c;
    border: 1px solid #8b6d5c;
    border-radius: 10px;
    font-size: 12px;

    gap: 4px;
}

.categoryFilterBtn.active{
    background-color: #D8A8AB;
    color: white;
}

.categoryFilterBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;

    width: 115px;
}

.dropdownToggle {
    width: 23px;
    height: 11px;
}

.filterBtn img {
    vertical-align: middle;
}

.filterBtn.active {
    background-color: #d8a8ab;
    color: white;
}

.tabBoxWrapper {
    border: 1px solid #99a99b;
    overflow: hidden;
    width: 100%;
    margin: 15px 0 0 0;
}

.tabSelector {
    display: flex;
    background-color: #f5f3ea;
    border-bottom: 1px solid #99a99b;
}

.tabBtn {
    flex: 1;
    background-color: #f5f3ea;
    border: none;
    font-size: 20px;
    color: #99a99b;
    cursor: pointer;
}

.tabBtn.active {
    background-color: #99a99b;
    color: #fff;
}

.topWrapper {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 580px;

    /* Firefox, IE & Edge용 스크롤 숨기기 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Chrome, Safari용 스크롤 숨기기 */
.topWrapper::-webkit-scrollbar {
    display: none;
}

.productWrapper {
    position: relative;
    padding: 16px 12px;
    background-color: #F5F3EA;
    height: 100%;
}

.mapWrapper{
    position: relative;
    padding: 16px 12px;
    background-color: #F5F3EA;
    height: 100%;
}

.storePinModalWrapper{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 100; /* 버튼 보다 아래 */
}

.storePinModal {
    position: relative;     /* wrapper가 위치를 담당하므로 relative */
    width: 100%;
    max-width: 355px;
    margin: 0 10px;

    pointer-events: all;    /* 클릭을 받아야 하므로 wrapper 투과 처리 보완 */
    background-color: #fff;
    cursor: pointer;

    max-height: 50%;
    overflow-y: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10pt;
}

.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.productCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 16px;
    width: 100%;
    max-width: 355px;

    cursor: pointer;
}

.productCard * {
    cursor: inherit;       /* 부모의 pointer 상속 */
    user-select: none;
}

.cardImage {
    position: relative;
    width: 100%;
    height: 93px;
}

.cardImage img {
    width: 100%;
    height: 93px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
}

.cardLabel {
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: white;
    font-family: 'nanumesquareneo_b';
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    box-sizing: border-box;
}

.productTexts {
    font-family: 'nanumesquareneo_b';
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productNameWrapper {
    font-size: 20px;
    color: #535353;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;

    flex-direction: row;
}

.productName strong{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #8b6d5c;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 15px;

    line-height: 1;
}

.productDesc,
.productDetail,
.pickupTime {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    color: #333;
}

.pickupTime strong {
    color: #8b6d5c;
}

.priceBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
    text-align: right;
    white-space: nowrap;
    font-family: 'nanumesquareneo_b';
    align-self: flex-end;
}

.originalPrice {
    font-size: 12px;
    color: #8B6D5C;
}

.salePrice strong{
    font-family: 'nanumesquareneo_b';
    font-size: 18px;
    color: #333;
}

.storeImage.soldout{
    opacity: 0.6;
}

.storeImage{
    opacity: 1;
}

.filterDropdown {
    position: relative;
    display: inline-block;
}

.dropdownModal {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    font-size: 12px;

    top: 100%;
    font-family: 'nanumesquareneo_b';
    background-color: white;
    border: 1px solid #8B6D5C;
    border-radius: 8px;
    z-index: 100;
}

.dropdownModal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdownModal li {
    width: 100%;
    padding: 6px 0;
    text-align: center;
}

.dropdownModal .item {
    display: block;
    padding: 6px 12px;
    margin: 0 12px;
    border-radius: 8px;
    color: #8B6D5C;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.dropdownModal .item.active {
    background-color: #D8A8AB;
    color: white;
}

.modalWrapper {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.catModal{
    margin-bottom: 40pt;
}

.hidden {
    display: none;
}

.btnSetCenter{
    display: inline-flex;
    gap: 8px; /* 자식 요소 간격 */

    position: absolute;
    bottom: 16px;       /* 지도 하단에서 띄울 기본 거리 */
    right: 16px;        /* 오른쪽 여백 */
    padding: 10px 12px;
    background: #99A99B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: bottom 0.2s ease; /* 부드러운 애니메이션 */
    z-index: 200;        /* 모달보다 위로 */
}

.btnText{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'nanumesquareneo_b';
    color: white;
}

.btnIcon{
    /* 원하는 크기로 고정 */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 모달이 열렸을 때 버튼을 모달 높이만큼 위로 올리기 위함 */
.mapWrapper.modalOpen .btnSetCenter {
    bottom: calc(200px);
}

.myLocationTemplateWindow strong{
    display: block;
    width: 140px;
    text-align: center;
}